@page "/categories/{CategoryId:int}/subcategories"
@using Cyberquiz.Shared.DTOs
@using Cyberquiz.UI.Services
@inject ApiService ApiService
@inject NavigationManager Nav

<h3>SubCategory</h3>

@if (_subs is null)
{
    <p>Laddar...</p>
}
else if (_subs.Count == 0)
{
    <p>Inga subkategorier.</p>
}
else
{
    <ul>
        @foreach (var s in _subs.OrderBy(x => x.Order))
        {
            <li style="margin-bottom:10px;">
                <span>@(s.IsLocked ? "🔒" : "🔓")</span>
                <strong style="margin-left:6px;">@s.Name</strong>
                <span style="opacity:.7;">(Kategori: @s.CategoryName, Nivå: @s.Order)</span>

                @if (s.IsCompleted)
                {
                    <span style="margin-left:6px;">✅</span>
                }

                <button class="btn btn-sm btn-primary"
                        style="margin-left:10px;"
                        disabled="@s.IsLocked"
                        @onclick="() =>GoToQuiz(s.Id)">
                    Starta quiz
                </button>
            </li>
        }
    </ul>
}

@code {
    [Parameter] public int CategoryId { get; set; }
    private List<SubCategoryDto>? _subs;

    protected override async Task OnParametersSetAsync()
    {
        _subs = await ApiService.GetSubCategoriesByCategoryIdAsync(CategoryId);
    }

    ¨private void GoToQuiz(int subCategoryId)
    {
        Nav.NavigateTo($"/quiz/{subCategoryId}");
    }
}
